:root{
	--fuentePrincipal: 'Lato', 'Arial', 'Times New Roman', sans-serif;
	--blanco: #ffffff;
	--grisClaro: #CBCCCB;
	--negro: #000000;
	--amarillo: #F6E307;
	--amarilloOscuro: #FAD514;
	--naranja: #F99811;
	--amarilloLimon: #FAF4B6;
	--amarilloPastel: #FFEB3B;
	--azulRey: #000080;
}

/**Globales**/

html{
    box-sizing: border-box;
    font-size: 62,5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
	min-height: 100vh;
}


/**p{
	line-height: 2rem;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.8rem;
}

h4{
	font-size: 1.5rem;
}**/

/**==UTILIDADES==**/



.posicion-relativa{
	position: relative;
}

.centrar-vertical{
	display: flex;
	flex-direction: column;
    left: 0;
    right: 0;
}

.contenedor{

	max-width: 120rem;
	margin: 0 auto;
	width: 90%;
}

.centrar-texto{
	text-align: center;
}

.height100{
	height: 100%;
}

.width90{
	width: 90%;
}

.caja{
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);

	padding: 1rem;
	border-radius: 1rem;
	margin: 0 auto;
}

.fondo-blanco{
	background-color: var(--blanco);
}

.gray-out{
	background-color: rgba(0, 0, 0, 0.6);
}

.boton-derecha{
	display: flex;
	justify-content: flex-end;
	width: 95%;
}

.width100{
	width: 100%;
}

/**==EVENTOS==**/

.label--off {
  color: gray; 
  opacity: 0.6; 
  cursor: not-allowed; 
  pointer-events: none; 
}

/**==NAVEGACION==**/

.contenedor--bg{
	background-color: var(--amarilloPastel);
}

.navegacion{
	display: flex;
	flex-direction: row;
	background-color: var(--amarilloPastel);
	justify-content: space-evenly;
}

.navegacion__opcion{
	text-transform: uppercase;
	text-decoration: none;
	padding: 2rem;
	color: var(--negro);
}

.navegacion__opcion:visited{
	text-decoration: none;
}

/**Dropdown**/
.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.0)
}

.dropdown {
	position: relative;
	display: inline-block;

}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--amarilloOscuro);} 

/**==CUERPO==**/

/**===LOGIN===**/

/**Dos Paneles**/

.caja_flex{
	display: flex;
	flex-direction: row;
}

.izquierda{
	height: 100vh;
	width: 60%;
    background-image: url(../img/bg.jpg);
	background-repeat: round;
	background-size: cover;
    background-position:center top;
	color: var(--blanco);
}

.derecha{
	position: relative;
	height: 100vh;
	width: 40%;
}

/**Login(derecha)**/

.login{
	display: flex;
	flex-direction: column;
}

.login__header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	text-align: center;
	flex: 1 1 auto;
}

/**Formulario**/

.login__form{
	margin: 0 auto;
	width: 90%;
	flex: 1 1 auto;
}

.login__form__label{

}

.login__form__campos{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 2rem;
}

.login__form__input{
	height: 2rem;
}

.login__form__boton{
	padding: 0.5rem;
	margin-top: 1rem;
	background-color: var(--naranja);
	border-radius: 0.5rem;
}

.login__footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 2rem;
	text-align: center;
	flex: 1 1 auto;
}

/**=== 404 ===**/

.body-error{
	flex-direction: column;
	justify-content: center;
	
}

.err404{
	margin: 0 auto;
	font-size: 3rem;
}

/**==REGISTRO==**/

.registro{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.registro__nuevo{
	display: flex;
	justify-content: space-between;
}

/**==VER REGISTROS==**/

.registros__tabla {
	width: 100%;
	border-collapse: collapse;
	margin-top: 2rem;
}

.registros__th, .registros__td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.registros__th {
	background-color: #f4f4f4;
	text-transform: uppercase;
}

.filters {
	margin-bottom: 20px;
}

.pagination {
	margin-top: 20px;
}

.filters__boton {
	margin-right: 5px;
}

/**==FOOTER==**/

/**.footer__div{
	width: 60%;
	display: flex;
	justify-content: space-between;
}**/

.footer{
	display: flex;
	justify-content: center;


	padding: 1rem;
	background-color: var(--azulRey);
	color: var(--blanco);
}