:root{
	--fuentePrincipal: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
	--blanco: #ffffff;
	--negro: #000000;
	--amarillo: #fbff49;
}

/**Globales**/

html{
    box-sizing: border-box;
    font-size: 62,5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
	min-height: 100vh;
}


p{
	line-height: 2rem;
}

h1{
	font-size: 2,8rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.8rem;
}

h4{
	font-size: 1.5rem;
}

/**Utilidades**/

.contenedor{
	max-width: 120rem;
	margin: 0 auto;
	width: 90%;
}

.centrar-texto{
	text-align: center;
}

.height100{
	height: 100%;
}

.width90{
	width: 90%;
}

.caja{
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	padding: 2rem;
	border-radius: 1rem;
}

.grey-out{
	background-color: rgba(0, 0, 0, 0.9);
}

.boton-derecha{
	display: flex;
	justify-content: flex-end;
}
/**Hero**/

.hero{
	padding: 25% 10%;
}

.hero__titulo{
	margin-top: 0;
}

.hero__texto{

}

/**Login**/

.login{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	flex-grow: 3;
}

.login__bg{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	color: #ffffff;
}

.login__form{
	display: flex;
	justify-content: center;
	background: linear-gradient(0deg, rgba(248,255,198,1) 16%, rgba(255,255,244,1) 100%);
}

/**Formulario Login**/

.formulario{
	margin: auto 0;
	background-color: var(--blanco);
}

.formulario-Login{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.formulario-login__campo{

}

.formulario-login__label{

}

.formulario-login__submit{
	font-weight: 700;
	color: var(--negro);
	text-transform: uppercase;
	background-color: var(--amarillo);
	border-radius: 1rem;
	border: none;
	padding: 1rem;
}

/**Footer**/

/**LOGIN PRUEBA**/

.izquierda{
	background-color: green;
	height: 100vh;
	width: 50%;
}

.derecha{
	background-color: blue;
	height: 100vh;
	width: 50%;
}

.flexing{
	display: flex;
	flex-direction: row;
}


/**.footer{
	text-align: center;
	background-color: black;
	color: white;
}**/