:root{
	--fuentePrincipal: 'Lato', 'Arial', 'Times New Roman', sans-serif;
	--blanco: #ffffff;
	--grisClaro: #CBCCCB;
	--negro: #000000;
	--amarillo: #F6E307;
	--amarilloOscuro: #FAD514;
	--naranja: #F99811;
	--amarilloLimon: #FAF4B6;
	--amarilloPastel: #FFEB3B;
}

/**Globales**/

html{
    box-sizing: border-box;
    font-size: 62,5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
	min-height: 100vh;
}


/**p{
	line-height: 2rem;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2.4rem;
}

h3{
	font-size: 1.8rem;
}

h4{
	font-size: 1.5rem;
}**/

/**Utilidades**/

.display-flex{
	display: flex;
}

.contenedor{
	max-width: 120rem;
	margin: 0 auto;
	width: 90%;
}

.centrar-texto{
	text-align: center;
}

.height100{
	height: 100%;
}

.width90{
	width: 90%;
}

.caja{
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);

	padding: 1rem;
	border-radius: 1rem;
	margin: 0 auto;
}

.fondo-blanco{
	background-color: var(--blanco);
}

.gray-out{
	background-color: rgba(0, 0, 0, 0.6);
}

.boton-derecha{
	display: flex;
	justify-content: flex-end;
	width: 95%;
}

/**==Navegacion==**/

.contenedor--bg{
	background-color: var(--amarilloPastel);
}

.navegacion{
	display: flex;
	flex-direction: row;
	background-color: var(--amarilloPastel);
	justify-content: space-evenly;
}

.navegacion__opcion{
	text-transform: uppercase;
	text-decoration: none;
	padding: 2rem;
	color: var(--negro);
}

.navegacion__opcion:visited{
	text-decoration: none;
}

/**==CUERPO==**/

/**===LOGIN===**/

/**Dos Paneles**/

.caja_flex{
	display: flex;
	flex-direction: row;
}

.izquierda{
	height: 100vh;
	width: 60%;
    background-image: url(../img/bg.jpg);
	background-repeat: round;
	background-size: cover;
    background-position:center top;
	color: var(--blanco);
}

.derecha{
	position: relative;
	height: 100vh;
	width: 40%;
}

/**Login(derecha)**/

.login{
	display: flex;
	flex-direction: column;
}

.login__header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	text-align: center;
	flex: 1 1 auto;
}

/**Formulario**/

.login__form{
	margin: 0 auto;
	width: 90%;
	flex: 1 1 auto;
}

.login__form__label{

}

.login__form__campos{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 2rem;
}

.login__form__input{
	height: 2rem;
}

.login__form__boton{
	padding: 0.5rem;
	margin-top: 1rem;
	background-color: var(--naranja);
	border-radius: 0.5rem;
}

.login__footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 2rem;
	text-align: center;
	flex: 1 1 auto;
}

/**=== 404 ===**/

.body-error{
	flex-direction: column;
	justify-content: center;
	
}

.err404{
	margin: 0 auto;
	font-size: 3rem;
}

/**==REGISTRO==**/

.registro{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.registro__nuevo{
	display: flex;
	justify-content: space-between;
}